/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------- */
*{
  box-sizing: border-box;
}

body{
  background: #E8E8E8;
  font-family: sans-serif;
  font-size: 15px;
}

header{
  height: 40px;
  width: 100%;
  background: #121314;
  position: fixed;
  top:0;
  left: 0;
  /*border-bottom: 1px solid #84BD00; */
}

.content{
  margin: 40px auto;
  max-width: 600px;
}

/*.content.more-space{
  margin-top: 80px;
}*/

.content > *{
  margin-bottom: 30px;
}

.group{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
  /*border: 1px solid #E8E8E8;*/
}

.group input{
  padding: 10px 15px;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  margin: 0;
  color: #737476;
  font-size: 13px;
}

.group input.ng-valid{
  color:#555;
}

.group input:first-child{
  border-right: 1px solid #E8E8E8;
}

.add-btn{
  float: right;
  border: none;
  padding: 5px 10px;
  margin: 0;
  background: rgba(0,0,0,.2);
  color: #fff;
  font-weight: bold;
} 

table{
  width: 100%;
  background: #fff;
  color: rgba(0,0,0,0.4);
  box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
}

thead, .heading{
  /*background: rgba(0,0,0,.2);*/
  background: rgba(42,165,153, 0.8);;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

td, th{
  padding: 10px 15px;
  text-align: left;
}

.text-right{
  text-align: right;
}

.heading{
  padding: 10px 15px;
  position: relative;
}

.th-action{
  width: 5px;
}

.total{
  font-style: italic;
  font-size: 14px;
  border-top: 1px dashed #E8E8E8;
  color: #555;
}

.total td{
  padding: 10px 15px 3px 15px;
}

.summary td{
  padding: 3px 15px;
  font-size: 12px;
  font-style: italic;
}

.summary:last-child td{
  padding-bottom: 10px;
}

.delete-btn{
  background: transparent;
  padding: 3px;
  margin: 0;
  border: none;
  color: rgba(0,0,0,0.1);
  cursor: pointer;
  font-weight: bold;
  margin-top: -5px;
  font-size: 16px;
}

.delete-btn:hover{
  color: red !important;
}

tbody tr:hover, tbody tr:hover .delete-btn{
  color: #555;
}

h1{
  /*color: #CBCBCB;*/
  color: rgba(42,165,153, 0.8);
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 1px 0px  rgba(255,255,255,0.9);
}

h2{
  text-align: center;
  color: #888;
  padding: 5px 0 4px 0;
  display: inline-block;
  width: 200px;
}

.datepicker{
  text-align: center;
  color: #888;
}

.datepicker input, .datepicker button{
  background: #E8E8E8;
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(244,244,244,0.9);
  border-right: 1px solid rgba(244,244,244,0.9);
  text-align: center;
  padding: 4px 8px;
  border-radius: 1px;
  color: #888;
}

.datepicker button{
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(244,244,244,0.9);
  border-left: 1px solid rgba(244,244,244,0.9);
}

.datepicker button:disabled{
  color: #CFCFCF;
}

hr{
  border: 0;
  border-bottom: 1px dashed #E8E8E8;
  background: rgba(0,0,0,.2);
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: inline-block;
}

.time-btn{
  position: absolute;
  top:5px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #555;
}
.time-btn:hover{
  text-decoration: underline;
}